
.header {
  z-index: 10000;
  transition: background-color .2s;
  left: 0;
  width: 100%;
  background: #0001;
  position: sticky;
  top: 0;

  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    display: flex;
    align-items: center;
    .header__btn {
      background: none;
      color: #fff;
      border: none;
      position:relative;
      display:block;

      &:hover::after{-webkit-transform:translate(-50%, -50%) scale(1);transform:translate(-50%, -50%) scale(1)}.hero{padding-top:calc(184px + 4vh);margin-top:-69px}
      &::after{content:"";display:block;position:absolute;left:67%;top:50%;-webkit-transform:translate(-50%, -50%) scale(0);transform:translate(-50%, -50%) scale(0);width:60px;height:60px;border:3px solid #fff;transition:.3s}

      span {
        position: relative;
        z-index: 1;
        display: block;
        width: 32px;
        height: 29px;
        transition: .3s;
        font-size: 44px !important;
        line-height: 0.7 !important;
      }
    }
  }
}
.header.active {
  background-color: #000;
}
@media screen and (min-width: 1400px) {
  .header {
      margin-top: 66px;
  }
}
@media (max-width: 1200px){
  .container {
    width: 1140px;
  }
}
@media (max-width: 48em) {
  .header {
    .header__contacts {
      display: none;
    }
    .header__logo {
      height: 70px;
    }
    .header__col {
      .switch__header-lang {
        padding-left: 0;
      }
    }
  }
}

.header__logo {
  height: 100px;
}
.header__col {
  display: flex;
  align-items: center;
  z-index: 2;

  .nav__header-contacts {
    display: flex;

    .item__header-nav {
      padding: 0 20px;
    }
  }

  .switch__header-lang {
    padding-left: 30px;
  }
}


